.card {
  background-color: #0F137B;
  color: #ffffff;
  min-height: 400px;
  width: auto;
  padding: 25px;
  text-align: center;
  margin: 15px 0px;
}

.card-title {
  font-size: 1.8rem;
  margin: 30px auto 40px auto;
}

.card-text {
  font-family: 'Amethysta';
  font-size: 1.2rem;
  text-transform: uppercase;
}


.control-button {
  width: 100%;
  margin: 10px 0;
}

#question {
  font-family: 'Amethysta';
  display: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 35px;
}
