.card {
  background-color: #0F137B;
  color: #ffffff;
  min-height: 400px;
  width: auto;
  padding: 25px;
  text-align: center;
  margin: 15px 0px;
  padding: 0;
}

.card-title {
  font-size: 1.8rem;
  margin: 30px auto 40px auto;
}

.card-text {
  font-family: 'Amethysta';
  font-size: 1.2rem;
  text-transform: uppercase;
}

.buttonRow {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.answer-form {
  width: 100%;
  padding: 0px;
  margin: 0px;
}


.control-button {
  width: 100%;
  margin: 10px 0;
  font-size: 1.8rem;
  background: none;
  padding: 3px;
}

.col {
  padding: 0px;
}

.correct {
  margin-top: 20px;
  font-size: 4.5rem;
  color: green;
  border: none;
}

.incorrect {
  margin-top: 20px;
  font-size: 4.5rem;
  color: red;
  border: none;
}

#question {
  font-family: 'Amethysta';
  color: #bbb;
  display: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 35px;
}
